@import url('/assets/PLANNING.svg');

/*Background animation*/
.ContainerAnimation{
    overflow: hidden;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 3900px;
}
.bckanimation{
    position: absolute;
    top:200px;
    left:400px;
    width: 2px;
    height: 2px;
    background-color: #408080;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(64, 128, 128, 0.1),0 0 20px rgba(64,128,128,1);
    animation: animate 3s linear infinite;
}
.bckanimation::before{
    content:'';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    height: 1px;
    left: 2px;
    background:linear-gradient(90deg,#408080,transparent);
}

@keyframes animate {
    0%{transform: rotate(315deg) translateX(0);
    opacity: 1;}
    70%{opacity: 1;}
    100%{transform: rotate(315deg) translateX(-10900px);
    opacity: 0;}
}
.bckanimation:nth-child(1){
    top:0;
    left:20%;
    animation-duration: 20s;
}
.bckanimation:nth-child(2){
    top:0;
    left: 40%;
    animation-duration: 40s;
    animation-delay: 1s;
}
.bckanimation:nth-child(3){
    top:0;
    left: 60%;
    animation-duration: 12s;
    animation-delay: 5s;
}
.bckanimation:nth-child(4){
    top:0;
    left: 80%;
    animation-duration: 14s;
    animation-delay:1s;
}
.bckanimation:nth-child(5){
    top:0;
    left: 100%;
    animation-duration: 45s;
    animation-delay:2s;
}
.bckanimation:nth-child(6){
    top:0;
    left:120%;
    animation-duration: 55s;
    animation-delay: 5s;
}
.bckanimation:nth-child(7){
    top:0;
    left: 140%;
    animation-duration: 51s;

}
.bckanimation:nth-child(8){
    top:0;
    left: 160%;
    animation-duration: 60s;
    animation-delay: 4S;
   
}
.bckanimation:nth-child(9){
    top:0;
    left: 180%;
    animation-duration: 50s;
    animation-delay: 8s;
    
}
.bckanimation:nth-child(10){
    top:0;
    left: 200%;
    animation-duration: 25s;
    animation-delay: 2s;
}
.bckanimation:nth-child(11){
    top:0;
    left:220%;
    animation-duration: 45s;
    animation-delay: 5s;
}
.bckanimation:nth-child(12){
    top:0;
    left: 240%;
    animation-duration: 60s;
}
.bckanimation:nth-child(13){
    top:0;
    left: 260%;
    animation-duration: 50s;
    animation-delay: 4s;  
}
.bckanimation:nth-child(14){
    top:0;
    left: 280%;
    animation-duration: 60s;
    animation-delay: 2s;
}
.bckanimation:nth-child(15){
    top:0;
    left: 300%;
    animation-duration: 20s;
    animation-delay: 3s; 
}
.bckanimation:nth-child(16){
    top:0;
    left: 320%;
    animation-duration: 30s;
    animation-delay: 1s; 
}
.bckanimation:nth-child(17){
    top:0;
    left: 340%;
    animation-duration: 15s;
    animation-delay: 4s; 
}


@media screen and (max-width:415px){
    .ContainerAnimation{
        height: 5900px;
       
    }

    .bckanimation:nth-child(1){
        top:0;
        left: 100%;
    }
    
    .bckanimation:nth-child(2){
        top:200px;
        left:100%;
    
    }
    .bckanimation:nth-child(3){
        top: 500px;
        left:100%;
    
    }
    .bckanimation:nth-child(4){
        top: 800px;
        left:100%;
    
    }
    .bckanimation:nth-child(5){
        top: 1100px;
        left:100%;
    
    }
    .bckanimation:nth-child(6){
        top: 1400px;
        left:100%;
    
    }
    .bckanimation:nth-child(7){
        top: 1700px;
        left:100%;
    
    }
    .bckanimation:nth-child(8){
        top: 2000px;
        left:100%;
    
    }
    .bckanimation:nth-child(9){
        top: 2300px;
        left:100%;
    
    }
    .bckanimation:nth-child(10){
        top: 2600px;
        left:100%;
    
    }
    .bckanimation:nth-child(11){
        top: 2900px;
        left:100%;
    
    }
    .bckanimation:nth-child(12){
        top: 3200px;
        left:100%;
    
    }
    .bckanimation:nth-child(13){
        top: 3500px;
        left:100%;
    
    }
    .bckanimation:nth-child(14){
        top: 3800px;
        left:100%;
    }
    .bckanimation:nth-child(15){
        top:4100px;
        left:100%;
    }   
    .bckanimation:nth-child(16){
        top:4400px;
        left:100%;
        animation-duration: 40s;
        animation-delay:5s;
    }
    .bckanimation:nth-child(17){
        top:4700px;
        left:100%;
        animation-duration: 50s; 
        animation-delay:1s;
    }
    .bckanimation:nth-child(18){
        top:5000px;
        left:100%;
        animation-duration: 35s; 
        animation-delay:8s;
    }
    
    
}



.pen{
    animation-duration: 3s;
    animation-iteration-count: infinite; 
    animation-name: changecolor;
/*     animation-timing-function: ease-in-out;
 */}
@keyframes changecolor {
   0%{stroke: rgb(17, 32, 34);
    opacity: 1;
    transform: translateY(-10px)};
   50%{stroke:rgb(255, 255, 255);
    opacity: 0;
    transform: translateY(5px)};
   100%{stroke:rgb(17, 32, 34);
    opacity: 1;
    transform: translateY(-10px)};
}

.tool{
    animation-name: movetool;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: right center; 
}
@keyframes movetool {
    0%{transform: rotate(2deg);}
    50%{transform: rotate(-2deg);}
    100%{transform: rotate(2deg);}
}


  .pulse-path {
    animation: pulseEffect1 5s linear forwards infinite;
  }

  @keyframes pulseEffect1 {
    0% {
        stroke-dashoffset: 280; /* El trazo está oculto al inicio */
        stroke-width: 1; /* Tamaño inicial del trazo */
      }
    
      100% {
        stroke-dashoffset: 0; /* El trazo se desplaza completamente fuera del área visible */
        stroke-width: 1; /* El grosor se mantiene constante */
      }
  }

  
  .pulse-path2 {
    animation: pulseEffect2 10s linear forwards infinite;
    
  }

  @keyframes pulseEffect2 {
    0% {
    
      stroke-dashoffset: 240; /* Comienza con el trazo oculto */
      stroke-width: 1; /* Tamaño inicial del trazo */
    }

    100% {
      stroke-dashoffset: 0; /* El trazo vuelve a su posición inicial */
      stroke-width: 1; /* Vuelve al grosor original */
    }
  }

  
  .pulse-path3 {
    animation: pulseEffect3 8s linear forwards infinite;
  }

  @keyframes pulseEffect3 {
    0% {
    
      stroke-dashoffset: 240; /* Comienza con el trazo oculto */
      stroke-width: 1; /* Tamaño inicial del trazo */
    }

    100% {
      stroke-dashoffset: 0; /* El trazo vuelve a su posición inicial */
      stroke-width: 1; /* Vuelve al grosor original */
    }
  }

  .pulse-path4 {
    animation: pulseEffect4 3s linear forwards infinite;
  }

  @keyframes pulseEffect4 {
    0% {
    
      stroke-dashoffset: 0; /* Comienza con el trazo oculto */
      stroke-width: 1; /* Tamaño inicial del trazo */
    }

    100% {
      stroke-dashoffset: 200; /* El trazo vuelve a su posición inicial */
      stroke-width: 1; /* Vuelve al grosor original */
    }
  }


  .pulse-path5 {
    animation: pulseEffect5 15s linear forwards infinite;
   
  }

  @keyframes pulseEffect5 {
    0% {
    
      stroke-dashoffset: 0; /* Comienza con el trazo oculto */
      stroke-width: 1; /* Tamaño inicial del trazo */
    }

    100% {
      stroke-dashoffset: 200; /* El trazo vuelve a su posición inicial */
      stroke-width: 1; /* Vuelve al grosor original */
    }
  }

  .L1{
    animation: m1 3s linear infinite;
  }
  @keyframes m1 {
    0%{
        transform: translateX(0px);

    }
    50%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(-5px);

    }
    
  }

  .L2{
    animation: m2 5s linear infinite;
  }
  @keyframes m2 {
    0%{
        transform: translateX(-5px);

    }
    50%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(5px);

    }
    
  }

  
  .L3{
    animation: m3 6s linear infinite;
  }
  @keyframes m3 {
    0%{
        transform: translateX(0px);

    }
    50%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(-5px);

    }
    
  }

  
  .L4{
    animation: m4 7s linear infinite;
  }
  @keyframes m4 {
    0%{
        transform: translateX(-8px);

    }
    50%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(8px);

    }
    
  }


  
  .L5{
    animation: m5 8s linear infinite;
  }
  @keyframes m5{
    0%{
        transform: translateX(0px);

    }
    50%{
        transform: translateX(15px);
    }
    100%{
        transform: translateX(-4px);

    }
    
  }

  
  .L6{
    animation: m6 4s linear infinite;
  }
  @keyframes m6 {
    0%{
        transform: translateX(0px);

    }
    50%{
        transform: translateX(25px);
    }
    100%{
        transform: translateX(-5px);

    }
    
  }

  
  .L7{
    animation: m7 9s linear infinite;
  }
  @keyframes m7 {
    0%{
        transform: translateX(0px);

    }
    50%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(-2px);

    }
    
  }

  
  .L8{
    animation: m8 3s linear infinite;
  }
  @keyframes m8 {
    0%{
        transform: translateX(0px);

    }
    50%{
        transform: translateX(-15px);
    }
    100%{
        transform: translateX(5px);

    }
    
  }

  
  .L9{
    animation: m9 10s linear infinite;
  }
  @keyframes m9 {
    0%{
        transform: translateX(0px);

    }
    50%{
        transform: translateX(-5px);
    }
    100%{
        transform: translateX(15px);

    }
    
  }

  .T1{
    animation: puls1 2s linear infinite;
    stroke-dasharray:20 ;

  }
  @keyframes puls1 {
    0%{
        stroke-dashoffset: 0;
        stroke-width: 1;

    }
    100%{
        stroke-dashoffset: 160;
        stroke-width: 1;

    }
    
  }

  .T2{
    animation: puls2 2s linear infinite;
    stroke-dasharray:20 ;

  }
  @keyframes puls2 {
    0%{
        stroke-dashoffset: 0;
        stroke-width: 1;

    }
    100%{
        stroke-dashoffset: 160;
        stroke-width: 1;

    }
    
  }

  .T3{
    animation: puls3 2s linear infinite;
    stroke-dasharray: 20;
  }
  @keyframes puls3 {
    0%{
        stroke-dashoffset: 160;
        stroke-width: 1;

    }
    100%{
        stroke-dashoffset: 0;
        stroke-width: 1;

    }
    
  }

 .T4{
    animation: puls4 2s linear infinite;
    stroke-dasharray: 20;
  }
  @keyframes puls4 {
    0%{
        stroke-dashoffset: 160;
        stroke-width: 1;

    }
    100%{
        stroke-dashoffset: 0;
        stroke-width: 1;

    }
  }