*{
    margin: 0;
    padding: 0;
    bottom: 0;
}

/*Global Variables*/
:root{
    --tipografia:Rubik;

   /* --BackgroundImageBodyMD:url(/assets/BackGroundImgBodyMD.jpg);
    --BackgroundImageBodyML:url(/assets/BCGIMGBODYML.png);
    */
    --BackgroundBodyColorML:#fff;
    --BackgrounBodyColorMD:#0e0e11;
 
    --ColorDestacadoML:#356a6c;
    --ColorDestacadoMD:#5ea3a2;

    --ColorBGHeaderML:rgba(218, 237, 235, 0.800); 
    --ColorBGSectionsML:#f4f9f9;
    --ColorBGButtonsML:#408080;


    --ColorBordersSectionsML:#5ea3a2;
    --TextColorML:#112022;
    --ColorFillIconsML:#112022;
    --ColorFillIconsMLHover: #408080;
    

    --ColorFillIconsMD:#f4f9f9;
    --ColorBGHeaderMD:#11202283;
    --ColorBorderHeaderMD:#284647;
    --ColorBGSectionsMD:#112022;
    --ColorBorderSectionsMD:#284647; 

    --ColorTextMD:#f4f9f9;
}

/*navBar href's relocated with every section */
/*
html{
    scroll-behavior: smooth;
}*/
section[id]{
    scroll-margin-top:150px;
}


body{
    transition: all .5s;
    background-color: var(--BackgroundBodyColorML);
    /*
    background-image:var(--BackgroundImageBodyML);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
}

/*Change styles to ModeNigth usin toogle*/
.body.change{
    transition: all .5s;
    background-color: var(--BackgrounBodyColorMD);
}
.h1.change, .p.change, .a.change, .svg.change{
    color: var(--ColorTextMD);
    fill:var(--ColorFillIconsMD);
}
.ContainerHeader.change, .ContainerFotter.change{
    background-color: var(--ColorBGHeaderMD);
    border-bottom: 1px solid var(--ColorBorderHeaderMD);
    border-top: 1px solid var(--ColorBorderSectionsMD);
}
.svgMenu.change{
    display: none;
}
.svgMenu.ModeLigth{
    fill: var(--ColorFillIconsMD);
}
.svgMenu.change{
    display: none;
}
.svgMenu.ModeLigth{
    fill: var(--ColorFillIconsMD);
}
.svgCloseMenu.change{
    display: block;
    fill: var(--ColorFillIconsML);
}
.svgCloseMenu.ModeDark{
    fill: var(--ColorFillIconsMD);
}
.moon.change{
    display: none;
}
.sun.change{
    display:block;
    cursor: pointer;
    fill: var(--ColorFillIconsMD);
}

.Highlighted.change{
    color:var(--ColorDestacadoMD);
}

.ContentCard.change, .ContainerHabilitesTechnologies.change{
    background-color: var(--ColorBGSectionsMD);
}

.ContainerHabilites.change, .ContainerTechnologies.change{
    background-color: #0e0e11;
}

.ContentContactMe.change{
    background-color: var(--ColorBGSectionsMD);
}

/*Global Styles*/
.h1{
    color: var(--TextColorML);
    font-family: var(--tipografia);
    line-height: 30px;
    font-weight: 800;
}
.p{
    color: var(--TextColorML);
    font-family: var(--tipografia);
    line-height: 20px;
    font-weight: 600;
}
.a{
    text-decoration: none;
    color: var(--TextColorML);
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
}
.img{
    width: 50px;
    object-fit: cover;
}
.li{
    font-family: var(--tipografia);
    list-style: none;
    text-transform: uppercase;
    display: inline-block;
}
.svg{
    transform: scale(1.3);
    fill: var(--ColorFillIconsML);
}
.btn{
    background: none;
    border: none;
}

/*Styles Header*/
.ContainerHeader{
    width: 100%;
    background-color: var(--ColorBGHeaderML);
    border-bottom: 1px solid var(--ColorBordersSectionsML);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 1;
    margin-bottom: 50px;
}
.ContentHeader{
    max-width:1200px;
    margin: 0 auto;
    padding: 1.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.BtnMenu{
    display: none;
    max-width: 2em;
    max-height: 2em;
}
.svgMenu{
    width: 2em;
    height: 2em; 
    cursor: pointer;
    fill:var(--ColorFillIconsML);
}
.svgCloseMenu{
    width: 2em;
    height: 2em;
    cursor: pointer;
    display: none;
    fill: var(--ColorFillIconsML);
}
.ulHeader{
    width: 700px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
.liHeader{
    margin: 0 1em;
    display: flex;
}

.aHeader{
    font-family: var(--tipografia);
    color: var(--TextColorML);
}

.NigthModeLigthMode{
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.moon{
    transform: scale(1);
    cursor: pointer;
    fill: var(--ColorFillIconsML);
}
.sun{
    transform: scale(1);
    display: none;
    fill: var(--ColorFillIconsMD);
}

/*Styles Presentation*/
.ContainerPresentation{
    width: 100%;
    margin-bottom: 150px;
}
.ContentPresentation{
    padding-left: 1em;
    padding-right: 1em;
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
}
.ContentPresentation img{
    width: 300px;
}
.ContentInfoPresentation{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
}
.TextPresentation{
    padding-left: 1em;
}
.InfoPresentation{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.Highlighted{
    color: var(--ColorDestacadoML);
}
.ContactPresentation{
    width: 460px;
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px 25px; 
}

.btnLinkGitHub{
    cursor: pointer;
    border: 1px solid var(--ColorBordersSectionsML);
    width: 200px;
    padding: 1em;
    border-radius: .9em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    transition: all 500ms;
}
.aLinkGitHub{
    text-transform: none;
    font-weight:600;
}
.btnLinkGitHub:hover{
    transform: scale(1.1);
    transition: all 500ms;
}
.svgGitHub{
    transform: scale(.8);
}
.btnDownloadCV{
    cursor: pointer;
    background-color: var(--ColorBGButtonsML);
    width: 200px;
    padding: 1em;
    border-radius: .9em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    transition: all 500ms;
}
.btnDownloadCV:hover{
    transform: scale(1.1);
    transition: all 500ms;
}
.svgDownloadCV{
    transform: scale(.8);
    fill: #f4f9f9;
}
.CV{
    color:#fff;
    font-weight: 600;
    text-transform: none;
}

/*Styles AboutMe*/
.ContainerAbouMe{
    width: 100%;
    margin-bottom: 150px;
}
.ContentAboutMe{
    padding-left: 1em;
    padding-right: 1em;
    max-width: 800px;
    margin: 50px auto;
}
.pAboutMe{
    margin: .7em .7em;
    line-height: 25px;
}

/*Styles Projects*/
.ContainerProjects{
    width: 100%;
    margin-bottom: 150px;
}
.ContentProjects{
    max-width: 800px;
    margin: 50px auto;
    padding-left: 1em;
    padding-right: 1em;
}
.ContentCard{
    max-width: 800px;
    border: 1px solid var(--ColorBordersSectionsML);
    background-color: var(--ColorBGSectionsML);
    border-radius: 1em;
    margin: 2em auto;
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.InfoCard{
   width: 400px;
}
.h1InfoProject{
    font-size: 20px;
    line-height: 20px;
}
.pInfoProject{
    margin-top: 1em;
}
.ProjectTools{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}
.pToolsUsed{
    font-size: 15px;
}
.Tools{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
.svgIconToolsProject:hover{
    fill: var(--ColorFillIconsMLHover);
}

.LnkCode{
    display: flex;
    margin-top: 1em;
}
.aLinkToCode{
    text-transform: none;
    font-weight: 700;
}
.BtnLinkProject{
    cursor: pointer;
    width: 200px;
    padding: 1em;
    margin-top: 1em;
    border: 2px solid var(--ColorBordersSectionsML);
    border-radius: .9em;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    transition: all 500ms;  
}
.BtnLinkProject:hover{
    transform: scale(1.1);
    transition: all 500ms;
}
.Carrousel{
    width: 300px;
    
}
.imgproject{
    border-radius: 1em;
    object-fit: contain;
    width: 100%;
    height: 100%;
    border: 1px solid var(--ColorBordersSectionsML);
}

/*Styles Skills&Technologies*/
.ContainerHabilitesTechnologies{
    width: 100%;
    margin-bottom: 150px;
    border-top: 1px solid var(--ColorBordersSectionsML);
    border-bottom: 1px solid var(--ColorBordersSectionsML);
    background-color: var(--ColorBGSectionsML);
}
.ContentHabilitesTechnologies{
    max-width: 800px;
    margin: 0 auto;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
}
.ContainerHabilites{
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 2em 1em 1em 1em ;
    background-color: #fff;
    border: 1px solid var(--ColorBordersSectionsML);
    border-radius: 1em;
}
.ContentHabilites{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.TitleHabilites{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .9em;
    background-color:var(--ColorBGButtonsML);
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
}
.pTitleHabilites{
    color: #fff;
}
.InfoHabilites{
    width: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1em;
}
.liHabilites{
    position: relative;
    overflow: hidden;
    text-transform: none;
    display: flex;
    align-items: center;
}
.pHabilites{
    line-height: 30px;
}
.liHabilites::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color:var(--ColorBordersSectionsML);
    transition: width 0.5s ease;
}
.liHabilites:hover::after{
    width: 100%;
}
.ContainerTechnologies{
    margin-bottom: 50px;
    padding: 2em 1em 1em 1em;
    border-radius: 1em;
    background-color: #fff;
    border: 1px solid var(--ColorBordersSectionsML);
}
.ContentTechnologies{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.TitleTechnologies{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .9em;
    background-color:var(--ColorBGButtonsML);
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
}
.pTitleTechnologies{
    color: #fff;
}
.Technologies{
    width: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 40px 20px;
    padding: 1em;
}
.Technologies img{
    object-fit: cover;
}

/*Styles ContactMe*/
.ContainerContactMe{
    width: 100%;
    margin-bottom: 350px;
}
.ContentContactMe{
    max-width: 800px;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 auto;
    border: 1px solid var(--ColorBordersSectionsML);
    border-radius: 1em;
}
.h1ContacMe{
    margin-top: 25px;
}
.Contacts{
    width: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    flex-flow: row wrap;
    gap: 20px;
}
.ContactGmail{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}
.svgContactGmail{
    padding-bottom: 1em;
}
.ContactGitHub{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}
.svgContactGitHub{
    padding-top: 1em;
    transition: transform 500ms;
}
.svgContactGitHub:hover{
    fill: var(--ColorFillIconsMLHover);   
    transform: scale(1.5); 
}
.ContactLinkedIn{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}
.svgContactLinkedin{
    padding-top: 1em;
    transition: transform 500ms;
}
.svgContactLinkedin:hover{
    fill: var(--ColorFillIconsMLHover);  
    transform: scale(1.5); 
}


/*Styles Footer*/
.ContainerFotter{
    border-top: 1px solid var(--ColorBordersSectionsML);
    background-color: var(--ColorBGHeaderML);
    width: 100%;
    margin-top: auto;
}
.ContentFotter{
    max-width:1200px;
    margin: 0 auto;
    padding: 1.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1000px;
}
.ImgLogoFooter{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: start;
}
.navFooter{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: start;
}
.ulFooter{
    display: flex;
    flex-direction: column;
    line-height: 40px;
    text-align: center;
}
.ContactFooter{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center; 
}
.contactfooter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.svgFooterGitHub{
    transition: transform 500ms;
}
.svgFooterGitHub:hover{
    transform: scale(1.5);
}
.svgFooterLinkedIn{
    transition: transform 500ms;
}
.svgFooterLinkedIn:hover{
    transform: scale(1.5);
}

@media screen and (max-width:1080px){
    section[id]{
        scroll-margin-top:400px;
    }
    .navHeader{
        width: 100%;
        height: 0;
        transition: all .5s ease;
        display: flex;
        flex-flow: nowrap;
        pointer-events: none;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .navHeader.activo{
        height: 25vh;
        pointer-events: auto;
        padding: 1em;

    }
    .BtnMenu{
        display: block;
    }
    .ulHeader{
        flex-direction: column;
    }
    .liHeader{
        margin: .8rem 0;
    }



    
   
}

@media screen and (max-width: 769px) {
    .ContentCard{
        flex-direction: column-reverse;
    }
    .InfoCard{
        margin-top: 1em;
        width: 100%;
     }
     .Carrousel{
        width: 100%;
        height: 250px;
        overflow: hidden;
     }

}
