@import url('variables.css');


*{
    margin: 0;
    padding: 0;
    bottom: 0;
}

body{
    transition: all .5s;
    background-color: var(--BackgroundBodyColorML);
}

/*navBar href's relocated with every section */
section[id]{
    scroll-margin-top:150px;
}

/*Global Styles*/
.h1{
    color: var(--TextColorML);
    font-family: var(--tipografia);
    line-height: 30px;
    font-weight: 800;
}
.p{
    color: var(--TextColorML);
    font-family: var(--tipografia);
    line-height: 20px;
    font-weight: 600;
}
.a{
    text-decoration: none;
    color: var(--TextColorML);
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    pointer-events: none;
}
.nav{
    text-decoration: none;
    color: var(--TextColorML);
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
}
.nav:focus{
    outline: none;
}
.img{
    width: 50px;
    object-fit: cover;
}
.li{
    font-family: var(--tipografia);
    list-style: none;
    text-transform: uppercase;
    display: inline-block;
}
.svg{
    transform: scale(1.3);
    fill: var(--ColorFillIconsML);
    outline: none;
}
.btn{
    background: none;
    border: none;
    box-shadow: 0px 0px 2px 0px rgba(17,32,34);
    outline: none;
    cursor: pointer;
}
.btnm{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.lbl{
    margin-bottom: .3em;
    margin-left: .5em;
    font-family: var(--tipografia);
    font-weight: 600;
    font-size: 15px;
}
.input{
    font-family: var(--tipografia);
    font-weight: 400;
    font-size: 14px;
}
.emailroute{
    display: none;
}

/*Styles Header*/
.ContainerHeader{
    width: 100%;
    background-color:var(--BackgroundHeaderML);
    box-shadow: var(--BoxShadowHeader-ML);
    backdrop-filter: blur(50px);
    position: sticky;
    top: 0;
    z-index: 1;
    margin-bottom: 50px;
    
}
.ContentHeader{
    max-width:1200px;
    margin: 0 auto;
    padding: 1.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.ActionMenu{
    display: none;
    max-width: 2em;
    max-height: 2em;
}
.ActionMenu:focus{
    outline: none;
}
.svgMenu{
    width: 2em;
    height: 2em; 
    fill:var(--ColorFillIconsML);
}
.svgCloseMenu{
    width: 2em;
    height: 2em;
    display: none;
    fill: var(--ColorFillIconsML);
}
.ulHeader{
    width: 700px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid var();
}
.liHeader{
    margin: 0 1em;
    display: flex;
}
.aHeader{
    font-family: var(--tipografia);
    color: var(--TextColorML);
}
.NigthModeLigthMode{
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.moon{
    transform: scale(1);
    cursor: pointer;
    fill: var(--ColorFillIconsML);
}
.sun{
    transform: scale(1);
    display: none;
    fill: var(--ColorFillIconsMD);
}

/*Styles Presentation*/

.ContainerPresentation{
    width: 100%;
    margin-bottom: 150px;
    position: relative;
}

.ContentPresentation{
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.PicturePresentation{
    width: 300px;
}
.imgLogo{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.ContentInfoPresentation{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
}
.InfoPresentation{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.Highlighted{
  color: var(--ColorDestacadoML);
}
.ContactPresentation{
    width:500px;
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}
.btnLinkGitHub{
    padding:1em;   
    width: 200px;
    border-radius: .9em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all 500ms;
}
.btnLinkGitHub:focus{
    outline: none;
    border-radius: .9em;
}
.aLinkGitHub{
    
    text-transform: none;
    font-weight:600;
    color:var(--TextColorML);
}
.btnLinkGitHub:hover{
    transform: scale(1.1);
    transition: all 500ms;
    outline: none;
}
.svgGitHub{
    transform: scale(.8);
    fill: var(--ColorFillIconsML);
}
.btnDownloadCV{
    background-color: var(--ColorBGButtonsML);
    padding: 1em;
    width: 200px;
    border-radius: .9em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all 500ms;
}
.btnDownloadCV:focus{
    outline: none;
    border-radius: .9em;
}
.btnDownloadCV:hover{
    transform: scale(1.1);
    transition: all 500ms;
}
.svgDownloadCV{
    transform: scale(.8);
    fill: var(--ColorFillIconsMD);
}
.CV{
    color:#fff;
    font-weight: 600;
    text-transform: none;
}

/*Styles AboutMe*/
.ContainerAbouMe{
    width: 100%;
    margin-bottom: 150px;
}
.ContentAboutMe{
    backdrop-filter: blur(3px);
    padding-left: 1em;
    padding-right: 1em;
    max-width: 1000px;
    margin: 50px auto;
}
.pAboutMe{
    margin: .7em .7em;
    line-height: 25px;
}

/*Styles Projects*/
.ContainerProjects{
    width: 100%;
    margin-bottom: 150px;
}
.ContentProjects{
    backdrop-filter: blur(3px);
    max-width: 1000px;
    margin: 50px auto;
    padding-left: 1em;
    padding-right: 1em;
}
.ContentCard{
    max-width: 1000px;
    border-radius: 1em;
    margin: 3em auto;
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    box-shadow: var(--BoxShadownProjects-ML);
 }
.InfoCard{
   width: 500px;
}
.h1InfoProject{
    font-size: 20px;
    line-height: 20px;
}
.pInfoProject{
    margin-top: 1em;
}
.ProjectTools{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.5px 0 0 #356a6c;
    padding: .5em;
    background-color: var(--BackgroundBodyColorML);
}
.Tools{
   margin: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
.svgIconToolsProject:hover{
    fill: var(--ColorDestacadoMD);
}
.LnkCode{
    display: flex;
    margin-top: 1em;
}
.aLinkToCode{
    text-transform: none;
    font-weight: 700;
}
.BtnLinkProject{
    cursor: pointer;
    width: 200px;
    padding: 1em;
    margin-top: 1em;
    border-radius: .9em;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    transition: all 500ms;
}
.BtnLinkProject:focus{
    outline: none;
    border-radius: .9em;
}
.BtnLinkProject:hover{
    transform: scale(1.02);
    transition: all 500ms;
}
.Carrousel{
    width: 350px;
    display: flex;
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
    border-radius: 1em;  
    overflow: hidden;
}
.imgproject{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*Styles Skills&Technologies*/
.ContainerHabilitesTechnologies{
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 150px;
    backdrop-filter: blur(1px);
}
.ContentHabilitesTechnologies{
    backdrop-filter: blur(5px);
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em 1em;
}




.ContainerHabilites{
    margin-bottom: 100px;
    margin-top: 50px;
    padding: 2em 1em;
    box-shadow:var(--BoxShadownComponents-ML);
    border-radius: 1em;
}
.ContentHabilites{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}
.TitleHabilites{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .9em;
    border: 1px solid var(--ColorBorderSectionsMD);
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
}
.pTitleHabilites{
    color: var(--TextColorML);
}
.Habilites{
    width: 100%;
}
.ImgHabilites{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}
.Images{
    width:200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.imgProcess{
    width: 100%;
    height: auto;
    object-fit: cover;
    stroke: var(--TextColorML);
}


.ContainerTechnologies{
    padding: 2em 1em;
    border-radius: 1em;
    box-shadow:var(--BoxShadownComponents-ML);
}
.ContentTechnologies{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}
.TitleTechnologies{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .9em;
    border: 1px solid var(--ColorBorderSectionsMD);
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
}
.pTitleTechnologies{
    color: var(--TextColorML);
}
.Technologies{
   display: flex;
   justify-content: center; 
}
.Technologies{
    height: 400px;  
}
.swiper {
    width: 100%;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    max-width: 250px;
  }
  .img-swiper {
    display: block;
    width: 100%;
    background-color:var(--BackgroundBodyColorML);
    border-radius:.9em;
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.6);
  }
  





/*Styles ContactMe*/
.ContainerContactMe{
    width: 100%;
    margin-bottom: 400px;
}
.CointainerContentContactMe{
    max-width: 1000px;
    margin: 100px auto;
    border-radius: .9em;
    padding-left: 1em;
    padding-right: 1em;
    backdrop-filter: blur(3px);
}
.h1Contact{
    margin-top: 50px;
}
.ContentContactMe{
    max-width: 1000px;
    margin: 50px auto;
    backdrop-filter: blur(3px);
    box-shadow: var(--BoxShadownComponents-ML);
    border-radius: .9em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}
.ContainerForm{
    width: 100%;
}
.Form{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
}
.ContainerInput{
    display: flex;
    flex-direction: column;
}
.input{
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    border-bottom: 1.5px solid var(--ColorDestacadoML);
}
:focus{
    outline: 1.5px solid var(--ColorBordersSectionsML);
    border-radius: 3px;
}
.btnSendEmail{
    cursor: pointer;
    width: 200px;
    background-color: var(--ColorBGButtonsML);
    border-radius: .9em;
    padding: 1em;
    transition: all 500ms; 
}
.btnSendEmail:hover{
    transform: scale(1.1);
}
.aSendEmail{
    color: #fff;
    font-weight: 600;
    text-transform: none;
}
.TextArea{
    grid-column: 1/3;
}
.ContainerButton{
    grid-column: 1/3;
    display: flex;
    justify-content: center;
}
.message{
    resize: none;
}
.ContainerContacts{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 20px;
    border-top: 1px solid var(--ColorBordersSectionsML);
}
.ContactGmail{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}
.svgContactGmail{
    padding-bottom: 1em;
}
.ContactGitHub{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}
.svgContactGitHub{
    padding-top: 1em;
    transition: transform 500ms;
}
.svgContactGitHub:hover{
    fill: var(--ColorFillIconsMLHover);   
    transform: scale(1.5); 
}
.ContactLinkedIn{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}
.svgContactLinkedin{
    padding-top: 1em;
    transition: transform 500ms;
}
.svgContactLinkedin:hover{
    fill: var(--ColorFillIconsMLHover);  
    transform: scale(1.5); 
}

/*Styles Footer*/
.ContainerFotter{
    backdrop-filter: blur(3px);
    background-color: var(--BackgroundHeaderML);
    box-shadow: var(--BoxShadowFotter-ML);
    width: 100%;
    margin-top: auto;
}
.ContentFotter{
    max-width:1200px;
    margin: 0 auto;
    padding: 1.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1000px;
}
.ImgLogoFooter{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: start;
}
.navFooter{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: start;
}
.ulFooter{
    display: flex;
    flex-direction: column;
    line-height: 40px;
    text-align: center;
}
.ContactFooter{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center; 
}
.contactfooter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.svgFooterGitHub{
    transition: transform 500ms;
}
.svgFooterGitHub:hover{
    transform: scale(1.5);
}
.svgFooterLinkedIn{
    transition: transform 500ms;
}
.svgFooterLinkedIn:hover{
    transform: scale(1.5);
}

@media screen and (max-width: 1080px){
    section[id]{
        scroll-margin-top:400px;
    }
    .navHeader{
        width: 100%;
        height:0;
        transition: all .5s ease;
        display: flex;
        flex-flow: nowrap;
        pointer-events: none;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    
    }
    .navHeader.activo{
        height: 45vh;
        pointer-events: auto;
        padding: 1em;

    }
    .ActionMenu{
        display: block;
    }
    .ulHeader{
        flex-direction: column;
    }
    .liHeader{
        margin: .5em 0;
    }}

@media screen and (max-width: 913px) {
    .ContentCard{
        flex-direction: column-reverse;
    }
    .InfoCard{
        width: 100%;
        margin-top: 2em;
    }
    .Carrousel{
        width: 100%;
    }
}


@media screen and (max-width: 769px) {
    .ContentCard{
        flex-direction: column-reverse;
    }
    .InfoCard{
        margin-top:3em;
        width: 100%;
     }
     .Carrousel{
        width: 100%;
        height: 250px;
        overflow: hidden;
     }
     .ContainerForm{
        width: 100%;
     }
     .Form{
        display: flex;
        justify-content: center;
        flex-direction: column;
     }
     
}

