
:root{
    --tipografia:Rubik;

    --BackgroundBodyColorML:#fff;
    
    --ColorBGHeaderML:#f5f8f6;
    
    --ColorBGSectionsML:#f4f9f99a;
    
    --ColorDestacadoML:#356a6c;
    
    --ColorBGButtonsML:#408080;
    
    --ColorBordersSectionsML:#173234;
    
    --TextColorML:#112022;
    
    --ColorFillIconsML:#112022;
    
    --ColorFillIconsMLHover: #5ea3a2;
    
    --BoxShadowHeader-ML: 0px -10px 20px 0px  rgba(17,32,34,1);

    --BoxShadowFotter-ML: 0px 5px 20px 0px  rgba(17,32,34,1);

    --BoxShadownProjects-ML: -10px 20px 33px -1px rgba(17,32,34,0.75);;
    
    --BoxShadownComponents-ML:-2px 6px 25px 1px rgba(17,32,34,0.75);
    

    --BackgrounBodyColorMD:#110f0e;
    
    --ColorBGSectionsMD:#112022;
    
    --ColorBGHeaderMD:#11202283;
    
    --ColorDestacadoMD:#5ea3a2;
    
    --box-shadow-MD: 0 10px 15px -5px rgba(40, 70, 71, 0.6);
    
    --ColorFillIconsMD:#f4f9f9;
    
    --ColorBorderHeaderMD:#284647;
    
    --ColorBorderSectionsMD:#284647; 
    
    --ColorTextMD:#f4f9f9;
}