<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paquete 1</title>
    <link rel="stylesheet" href="/styles/pack1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>
<body>

    <section class="ContainerIntroduction">
        
        <div class="ContentIntroduction">
            <div class="TextIntroduction">
                <h1>
                    ¡Bienvenido de vuelta!
                </h1>
            </div>
            <div class="TextIntroduction">
                <p> A continuación se muestra la representación del
                    número de secciones que ofrece cada uno de los
                    paquetes, ten en cuenta que los diseños y estructuras
                    fueron desarolladas de manera aleatoria, y que estos se
                    modificaran coforme a las necesidades del usuario.
                </p>
            </div>
            <div class="BackHome">
                <button>
                    <box-icon name='arrow-back'></box-icon>
                    <a href="/Index.html">Vover al inicio</a>
                </button>
            </div>
        </div>

    </section>

    <section class="BodyPack1">

        <section class="ContainerPresentation">
            <div class="ContentPresentation">
                <img src="/assets/undraw_conference_re_2yld.svg" alt="">
                <div class="ContentTextPresentation">
                    <h1>Presentación</h1>
                    <h2>Lorem ipsum dolor, sit amet consectetur.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                     Beatae, autem dolores commodi eaque deserunt veniam
                      reiciendis dicta omnis corrupti et? Lorem ipsum dolor 
                      sit amet, consectetur adipisicing elit.
                    </p>
                    
                </div>
            </div>
            
        </section>

        <section class="ContainerContact">
            <div class="ContentContact">
                
                <div class="Data">
                    <h1>Nombre Apellido Apellido</h1>
                    <p class="hobie">Hobies Lorem ipsum dolor
                         sit amet consectetur
                        adipisicing elit. Autem, 
                        rerum!
                    </p>
                    <div class="AgeWork">
                    <p class="AgeWork">25 años</p>
                    <p class="AgeWork">Psicólogo</p>
                    </div>
                </div>
                <img src="/assets/undraw_male_avatar_g98d.svg" alt="">
            </div>
            
            <ul>
                <a href="https://www.facebook.com/" target="_blank"><box-icon   color="darkblue" class="Media facebook" type='logo' name='facebook-square'></box-icon></a>
                <a href="https://www.x.com/"  target="_blank"><box-icon color="skyblue" class="Media twitter" name='twitter' type='logo' ></box-icon></a>
                <a href="https://www.instagram.com/"  target="_blank"><box-icon color="#db2777" class="Media instagram" name='instagram-alt' type='logo' ></box-icon></a>
             </ul>
            
        </section>

        <section class="ContainerInfo">
            <div class="ContentInfo">
                <div class="tag presentation">
                    <div class="tagcontent">
                        <h1>Lorem</h1>
                        <box-icon color="white" class="icon" name='user-voice' ></box-icon>
                        <p>Lorem ipsum dolor sit amet
                        consectetur adipisicing elit.
                        Quis, exercitationem!
                        </p>
                    </div>
                    <img src="https://images.pexels.com/photos/1181623/pexels-photo-1181623.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">   
                </div>

                <div class="tag custom" >
                    <div class="tagcontent">
                        <h1>Lorem.</h1>
                        <box-icon color="white" class="icon" name='customize'></box-icon>
                        <p>Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Velit, sapiente.
                        </p>
                    </div>
                    <img src="https://images.pexels.com/photos/3758105/pexels-photo-3758105.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                </div>

                <div class="tag email">
                    <div class="tagcontent">
                        <h1>Lorem.</h1>
                        <box-icon color="white" class="icon" name='mail-send' ></box-icon>
                        <p>Lorem ipsum dolor sit, amet consectetur
                        adipisicing elit. Illum, praesentium
                        </p>
                    </div>
                    <img src="https://images.pexels.com/photos/193003/pexels-photo-193003.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                </div>

                <div class="tag extension">
                    <div class="tagcontent">
                        <h1>Lorem</h1>
                        <box-icon color="white" class="icon" name='extension' ></box-icon>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, rerum.</p>
                    </div>
                    <img src="https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                </div>

                <div class="tag tools">
                    <div class="tagcontent">
                        <h1>Lorem</h1>
                        <box-icon color="white" class="icon" name='cog' ></box-icon>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, mollitia.</p>
                    </div>
                    <img src="https://images.pexels.com/photos/1409226/pexels-photo-1409226.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                </div>

                <div class="tag result">
                    <div class="tagcontent">
                        <h1>Lorem</h1>
                        <box-icon color="white" class="icon" name='notepad' ></box-icon>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, sunt?</p>
                    </div>
                    <img src="https://images.pexels.com/photos/3183153/pexels-photo-3183153.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                </div>
                
                
                
            </div>
        </section>
    
    </section>

    
</body>
</html>