<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paquete 1</title>
    <link rel="stylesheet" href="/styles/pack1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link rel="stylesheet" href="/styles/pack1.css">
</head>
<body>

    <section class="ContainerIntroduction">
        
        
        <div class="ContentIntroduction">
            <div class="TextIntroduction">
                <h1>
                    ¡Bienvenido de vuelta!
                    
                </h1>
               
            </div>
            <div class="TextIntroduction">
                <p> A continuación se muestra la representación y el
                    número de secciones que ofrece cada uno de los
                    paquetes, ten en cuenta que los diseños y estructuras
                    fueron creados de manera aleatoria, y estos se
                    modificaran coforme a las necesidades y gustos del usuario.
                </p>
            </div>
            <div class="BackHome">
                <button>
                    <box-icon color="#b9cfe8" name='arrow-back'></box-icon>
                    <a href="/Index.html">Vover al inicio</a>
                </button>
            </div>
        </div>

    </section>

    <section class="BodyPack1">

        <section class="ContainerPresentation">
            <div class="ContentPresentation">
                <img src="/assets/undraw_conference_re_2yld.svg" alt="">
                <div class="ContentTextPresentation">
                    <h1>Lorem</h1>
                    <h2>Lorem ipsum dolor, sit amet consectetur.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                     Beatae, autem dolores commodi eaque deserunt veniam
                      reiciendis dicta omnis corrupti et? Lorem ipsum dolor 
                      sit amet, consectetur adipisicing elit.
                    </p>
                    
                </div>
            </div>
            
        </section>

        <section class="ContainerContact">
            <div class="ContentContact">
                
                <div class="Data">
                    <h1>Lorem ipsum dolor sit.</h1>
                    <p class="hobie">Lorem ipsum dolor
                         sit amet consectetur
                        adipisicing elit. Autem, 
                        rerum!
                    </p>
                    <div class="AgeWork">
                    <p class="AgeWork">Lorem</p>
                    <p class="AgeWork">Lorem, ipsum.</p>
                    </div>
                </div>
                <img src="/assets/undraw_male_avatar_g98d.svg" alt="">
            </div>
            
            <ul>
                <a href="https://www.facebook.com/" target="_blank"><box-icon   color="#6a7fc1" class="Media facebook" type='logo' name='facebook-square'></box-icon></a>
                <a href="https://www.x.com/"  target="_blank"><box-icon color="#6a7fc1" class="Media twitter" name='twitter' type='logo' ></box-icon></a>
                <a href="https://www.instagram.com/"  target="_blank"><box-icon color="#6a7fc1" class="Media instagram" name='instagram-alt' type='logo' ></box-icon></a>
             </ul>
            
        </section>

        <section class="ContainerInfo">
            <div class="ContentInfo">
                <div class="tag presentation">
                    <div class="tagcontent">
                        <h1>Lorem</h1>
                        <box-icon color="white" class="icon" name='user-voice' ></box-icon>
                        <p>Lorem ipsum dolor sit amet
                        consectetur adipisicing elit.
                        Quis, exercitationem!
                        </p>
                    </div>
                    <img src="https://images.pexels.com/photos/1181623/pexels-photo-1181623.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">   
                </div>

                <div class="tag custom" >
                    <div class="tagcontent">
                        <h1>Lorem.</h1>
                        <box-icon color="white" class="icon" name='customize'></box-icon>
                        <p>Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Velit, sapiente.
                        </p>
                    </div>
                    <img src="https://images.pexels.com/photos/3758105/pexels-photo-3758105.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                </div>

                <div class="tag email">
                    <div class="tagcontent">
                        <h1>Lorem.</h1>
                        <box-icon color="white" class="icon" name='mail-send' ></box-icon>
                        <p>Lorem ipsum dolor sit, amet consectetur
                        adipisicing elit. Illum, praesentium
                        </p>
                    </div>
                    <img src="https://images.pexels.com/photos/193003/pexels-photo-193003.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                </div>

                <div class="tag extension">
                    <div class="tagcontent">
                        <h1>Lorem</h1>
                        <box-icon color="white" class="icon" name='extension' ></box-icon>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, rerum.</p>
                    </div>
                    <img src="https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                </div>

                <div class="tag tools">
                    <div class="tagcontent">
                        <h1>Lorem</h1>
                        <box-icon color="white" class="icon" name='cog' ></box-icon>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, mollitia.</p>
                    </div>
                    <img src="https://images.pexels.com/photos/1409226/pexels-photo-1409226.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                </div>

                <div class="tag result">
                    <div class="tagcontent">
                        <h1>Lorem</h1>
                        <box-icon color="white" class="icon" name='notepad' ></box-icon>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, sunt?</p>
                    </div>
                    <img src="https://images.pexels.com/photos/3183153/pexels-photo-3183153.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                </div>
            </div>
        </section>

        <section class="ContainerMap">
            <div class="ContentMap">
                <div class="Map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9646.65990049078!2d-99.14249095580368!3d19.433459673939094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f92a5b9dea63%3A0x2b904ff868df28ad!2sKiosco%20Alameda%20Central%20-%20Orquesta%20de%20cuerdas%20Ap%C3%B3liope!5e0!3m2!1ses!2smx!4v1708730262975!5m2!1ses!2smx" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="InfoMap">
                    <h1>Lorem</h1>
                    <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                    <div class="adress">
                        <a href="https://maps.app.goo.gl/oxr1mhB71v6C29QW9" target="_blank"><box-icon color="#6a7fc1" name='map'></box-icon></box-icon></a>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="phone">
                        <box-icon color="#6a7fc1" name='phone' ></box-icon>
                        <p>12345667890</p>
                    </div>
                    
                    
                </div>
            </div>
        </section>
    
    </section>

    
</body>
</html>