*{
    margin: 0;
    padding: 0;
    top: 0; 
}

:root{
    --tipografia:'Roboto', sans-serif;
    --colorPresentacionPack2:rgb(0, 0, 0);
    --colorBordersPresentationPack2:rgb(192, 192, 192);
    --colorBackgroundSectionsPresentationPack2:rgb(209, 209, 209, .3);
    --colorIconsPresentatationPack2:#000000;

    /*Colors Ligth Mode*/
    --backgroundColorModeLigthSections:rgb(209, 209, 209, .3);
    --colorMLBordersIntoBodyPack2:rgb(192, 192, 192);
    --colorMLIconsFillIntoBodyPack2:rgb(51, 51, 51);
    --colorMLTextsIntoBodyPack2: rgb(51, 51, 51);

    /*Colors Nigth Mode*/
    --backgroundColorModeNigthAllBodyPack2:rgb(51, 51, 51);
    --colorMNIconsFillIntoBodyPack2:rgb(247, 247, 247);
    --colorMNSections:rgb(240, 240, 240,.3);
    --colorMNBordersIntoBodyPack2:rgb(192, 192, 192);
    --colorMNTextsIntoBodyPack2:rgb(247, 247, 247);
    
}

.ContainerIntroduction{
    max-width: 100%;
    padding: 50px;
}
.ContentIntroduction{
    max-width:1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns:10% 80%;
    gap: 50px;
    justify-content: center;
}
.Hand{
    transform: scale(4);
    fill:var(--colorIconsPresentationPack2);
}
.hand{
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: handmove;
    animation-duration: 4s;
    animation-iteration-count: infinite; 
}
@keyframes handmove {
    10%{rotate:8deg;}
    30% ,70%{rotate:-10deg;}
    50%, 85%{rotate:10deg;}
}
.TextIntroduction h1,p{
    font-family: var(--tipografia);
    color:var(--colorPresentacionPack2);
}
.TextIntroduction p{
    font-family: var(--tipografia);
    color:var(--colorPresentacionPack2);
}
.TextIntroduction h1{
    max-width:300px;
    width: auto;
    font-size: 30px;
    font-weight: 400;
    text-align: center; 
}
.TextIntroduction p{
    width: auto;
    font-size: 25px;
    font-weight: 200;
    margin: 0 auto;
    text-align: justify;
}
.BackHome{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: 4;
}
.BackHome button{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    background-color: var(--colorBackgroundSectionsPresentationPack2);
    border:1px solid var(--colorBordersPresentationPack2);
    fill: var(--colorIconsPresentatationPack2);
    height: 70px;
    border-radius: 10px;
}
button .backhome{
    font-family: var(--tipografia);
    color:var(--colorMLTextsIntoBodyPack2);
}


.BodyPack2{
    max-width: 1400px;
    height: 900px;
    margin: 50px auto;
    overflow-y:scroll ;
    position: relative;
    border: 1px solid rgb(0, 0, 0);
    position: relative;
}

.BodyPack2.change{ 
    background-color: var(--backgroundColorModeNigthAllBodyPack2);
}
.BodyPack2 .moon.change{
    fill:var(--colorMNIconsFillIntoBodyPack2);
    transition: 1s;
}
.ContainerHeader.change{
    background-color:var();
    border: 1px solid var(--colorMNBordersIntoBodyPack2);
}
.h1.change, .a.change, .p.change, .h2.change{
    background: none;
    color: var(--colorMNTextsIntoBodyPack2);
    transition: 1s;
}
.svg.change{
    fill:var(--colorMNIconsFillIntoBodyPack2);
    transition: 1s;
}
.ContentPresentation.change{
    background-color:var(--colorMNSections);
    border: 1px solid var(--colorMNBordersIntoBodyPack2);
}
.BoxTimeLine.change{
    background-color:var(--colorMNSections);
    border: 1px solid var(--colorMNBordersIntoBodyPack2);
}
.icon.change{
    fill:var(--colorMNIconsFillIntoBodyPack2);
}
.iconcontact.change{
    fill:var(--colorMNIconsFillIntoBodyPack2);
}


.ContainerHeader{
    width:100%;
    background-color: var(--backgroundColorModeLigthSections);
    backdrop-filter: blur(10px);
    margin: 0 0 50px auto;
    position: sticky;
    z-index: 1;
}
.ContentHeader {   
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;  
    border: 1px solid var(--colorMLBordersFillsIconsIntoBodyPack2); 
    border-radius: 10px;
}
.h1{
    color:var(--colorMLTextsIntoBodyPack2);
    text-decoration: none;
    font-family: var(--tipografia);
    background: none;
    transition: 1s;
}
.ContentHeader button {
    display: none;
    border: none;
    background: none;
}
.svg{
    width: 2em;
    height: 2em;
    cursor: pointer;
    fill:var(--colorMLIconsFillIntoBodyPack2);
    transition-duration: 500ms;
}
.a{
    text-decoration: none;
    font-family: var(--tipografia);
    color:var(--colorMLTextsIntoBodyPack2);
    transition: 1s;
    text-transform: uppercase;
}
.nav ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
.nav li{
    list-style: none;
    margin: 0 1em;
}
.NigthMode .moon{
    background: none;
    cursor: pointer;
    transition: 1s;
    fill:var(--colorMLIconsFillIntoBodyPack2);
}

.ContainerCarrousel{
    width: 100%;
    margin-bottom: 100px;
}
.Carrousel{
    max-width: 1200px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
}
.Carrousel .ContentCarrousel{
    width: 100%;
    height: 100%;
    display: flex;
}
.Carrousel .img{
    border-radius: 30px;
    object-fit: cover;
    width: 100%;
}
.Carrousel .directions{
padding: 0;
display: flex;
justify-content: space-between;
z-index: 0.9;
transform: translateY(-125px);
}
.directions .directionRigth, .directionLeft{
    transform: scale(2.5);
    fill: rgb(255, 255, 255);
    background: rgba(109, 109, 109, 0.272);
    border-radius: 50%;  
    cursor: pointer;
}
.directionRigth{
    margin-right: 30px;
}
.directionLeft{
    margin-left: 30px;
}

.ContainerPresentation{
    max-width: 1400px;
    height: auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.ContentPresentation{
    width: 1200px;
    height: auto;
    display: flex;
    flex-flow:wrap;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
    border-radius: 20px;
    background-color:var(--backgroundColorModeLigthSections);
    border: 1px solid var(--colorMLBordersIntoBodyPack2);
}
.InfoPresentation{
    max-width: 600px;
    padding: 10px;
}
.InfoPresentation h1{
    font-size: 30px;
    font-weight: 400;
    font-family: var(--tipografia);
    margin-bottom: 25px;
    color: var(--colorMLTextsIntoBodyPack2);
}
.InfoPresentation p{
    font-size: 25px;
    font-weight: 200;
    font-family: var(--tipografia);
    margin-bottom: 10px;
    color:var(--colorMLTextsIntoBodyPack2);
}
.InfoPresentation button{
    width: 100%;
    height: 70px;
    background-color:var(--backgroundColorModeLigthSections);
    border: 1px solid var(--colorMLBordersIntoBodyPack2);
    border-radius:15px ;
}
.btnPresentation a{
    text-decoration: none;
    color: var(--colorMLTextsIntoBodyPack2);
    font-size: 25px;
    font-weight: 400;
    font-family: var(--tipografia);
}
.ImgPresentation img{
    width: 300px;
    object-fit: cover;
}

.ContainerTimeLine{
    max-width: 1400px;
    margin-bottom: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.ContentTimeLine{
    height: 100%;
    max-width:1200px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.Checkpoint{
    width:500px;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}
.BoxTimeLine{
    border: 1px solid var(--colorMLBordersIntoBodyPack2);
    background-color: var(--backgroundColorModeLigthSections);
    border-radius: 10px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: auto;
}
.BoxTimeLine h1,h2{
    color: var(--colorMLTextsIntoBodyPack2);
}
.Icon{
    margin-top: 40px;
    margin-bottom: 40px;
}
.icon{
    transform: scale(5);
    fill: var(--colorMLIconsFillIntoBodyPack2);
}
.Checkpoint:nth-child(odd){
    border-left: 4px solid var(--colorMLBordersIntoBodyPack2);
    padding-left: 3em;
    transform:translateX(248px) ;
}
.Checkpoint:nth-child(even){
    border-right: 4px solid var(--colorMLBordersIntoBodyPack2);
    padding-right: 3em;
    transform: translateX(-248px);
}
.Checkpoint:nth-child(odd)::before,
.Checkpoint:nth-child(even)::before{
    content: '';
    background: var(--colorMLBordersIntoBodyPack2);
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.Checkpoint:nth-child(odd)::before{
    left: 0;
}
.Checkpoint:nth-child(even)::before{
    right: 0;
}
.Checkpoint:nth-child(odd) div::before,
.Checkpoint:nth-child(even) div::before{
    content: '';
    background: var(--colorMLBordersIntoBodyPack2);
    box-shadow: 0 0 .5em #b9cfe8;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}
.Checkpoint:nth-child(odd) div::before{
    left:-8px;
}
.Checkpoint:nth-child(even) div::before{
    right:-8px;
}

.ContainerFooter{
    max-width: 100%;
    justify-content: center;
    background-color:var(--backgroundColorModeLigthSections);
    border: 1px solid var(--colorMLBordersIntoBodyPack2);
}
.ContentFooter{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;  
    gap: 10px;
}
.ContentFooter h1,a{
    color: var(--colorMLTextsIntoBodyPack2);
    text-decoration: none;
    font-family: var(--tipografia);
}
.a{
    text-transform: uppercase; 
}
.Logo{
    width: 350px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Contact{
    width: 350px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ContactContent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    gap: 10px;
}
.IconsContact{
    background: none;
    border: none;
}
.iconcontact{
    fill: var(--colorMLIconsFillIntoBodyPack2);
    transform: scale(1.5);
    transition: all 500ms;
}
.iconcontact:hover{
    transform: scale(2);
}
.Nav{
    width: 350px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ContainerInfo{
    max-width: 1400px;
    height: auto;
    background-color: var(--backgroundColorModeLigthSections);
    margin-bottom: 100px;
    display: flex;
    justify-content: flex-end;
}
.ContentInfo{
    width: 1200px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
.ContentInfo h2{
    max-width: 500px;
    margin: 30px auto;
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: 300;
    font-family: var(--tipografia);
    font-size: 25px;
}
.ContentInfo img{
    width: 300px;
    margin: 30px auto;
    border-radius: 10px;
    object-fit: cover; 
}






@media screen and (max-width:1080px) {
    .ContentHeader button{
        display: block;
    }
    .ContentHeader .nav{
        width: 100%;
        height: 0;
        transition: all .5s ease;
        display: flex;
        flex-flow: nowrap;
        pointer-events: none;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .ContentHeader .nav.activo{
       pointer-events: auto;
       height:25vh;
    }

    .ContentHeader .svg.rotate{
        rotate: 90deg;
        transition-duration: 500ms;
    }
    .nav ul{
        flex-direction: column;
    }
    .nav li{
        margin: 1rem 0;
    }
    .NigthMode .moon{
        margin-top: 15px;
    }

    .ContentTimeLine .Checkpoint{
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }
    .ContentTimeLine .Checkpoint::before{
        width: 3px;
        height: 4em;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    }
    .ContainerTimeLine .Checkpoint div::before{
        top: -.5em;
        left: 50%;
        transform: translateX(-50%);
    }

    
}


